<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=title%></title>

        <!-- bower:js -->
        <script src="/lib/jquery/dist/jquery.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/lib/jquery.sticky/jquery.sticky.js"></script>
        <!-- endbower -->   
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/signin.css">
    <link rel="stylesheet" href="/css/simple-sidebar.css">
    <!-- endinject -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                      <a href="/admin/panel">
                        Admin Panel
                    </a>
                </li>
                <% for(var i=0; i<nav.length; i++){%>
                    <li>
                    <a href="<%=nav[i].Link%>"><%=nav[i].Text%></a></li>
                <%}%>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">

                        <h2>Agregar Producto</h2>
                        <br/>
                        <form action="/Admin/addProduct" method="post" class="form-horizontal" accept-charset="utf-8">
                            <div class="form-group ">
                                <label class="col-sm-2 col-lg-1 control-label ">Producto</label>
                                <div class="col-sm-8 input-group">
                                    <input id="productName" class="form-control" name="productName" placeholder="Ingrese nombre de producto" required type="text" value="" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group "> 
                                <label class="col-sm-2  col-lg-1 control-label">Precio</label>
                                 <div class="input-group col-sm-3 col-lg-1">
                                    <span class="input-group-addon">$</span>
                                    <input id="productPrice" class="form-control" name="productPrice" placeholder="Ingrese precio" type="number" step="any" value="" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-1 col-sm-7">
                                    <button class="btn btn-default btn-success b10" type="submit" id="form-button-save"><i class="fa fa-check"></i> Guardar</button>
                                    <button class="btn btn-default cancel-button b10" type="reset" id="cancel-button">Limpiar </Button>
                                </div>
                            </div>
                        </form>
                </div>
                <div class="row">
                <h2>Productos en el sistema</h2>
                <br/>
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Productos</div>

                    <!-- Table -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th> 
                                    <th>Nombre</th> 
                                    <th>Precio</th> 
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                            <% for(var i=0; i<precios.length; i++){%>
                                <tr> 
                                    <th scope="row"><%=i + 1%></th> 
                                    <td><%=precios[i].productName%></td> 
                                    <td><span>$ </span><%=precios[i].productPrice%></td> 
                                    <td>
                                        <div class="row">
                                            <div class="col-lg-3 col-md-2 col-sm-3 pull-left">
                                                <a class="btn btn-default" href="product/edit/<%=precios[i]._id%>">Editar</a>
                                                <button type="button" id="<%=precios[i]._id%>" class="btn btn-danger" data-toggle="modal" data-prodname="<%=precios[i].productName%>" data-id="<%=precios[i]._id%>" data-target="#myModal"> Eliminar
                                                </button>
                                                
                                            </div>
                                        </div>
                                   </td> 
                                </tr>
                            <%}%> 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Eliminar Producto</h4>
            </div>
            <div class="modal-body">
                <p id='modalText'>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a id="delete-link" href class="btn btn-danger">Eliminar</a>
            </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</body>
<script>

$('#myModal').on('show.bs.modal', function (event) {
    debugger;
    var button = $(event.relatedTarget);
    var id = button.data('id');
    var prodName = button.data('prodname');
    var deltext = 'Esta seguro q desea eliminar el producto: ' + prodName;
    $('#modalText').text(deltext);
    var elem = $('#delete-link');
    var url = 'product/delete/' + id
    elem.attr('href',url);
})
</script>

</html>
