<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=title%></title>

        <!-- bower:js -->
        <script src="/lib/jquery/dist/jquery.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/lib/jquery.sticky/jquery.sticky.js"></script>
        <!-- endbower -->   
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/signin.css">
    <link rel="stylesheet" href="/css/simple-sidebar.css">
    <!-- endinject -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                     <a href="/admin/panel">
                        Admin Panel
                    </a>
                </li>
                <% for(var i=0; i<nav.length; i++){%>
                    <li>
                    <a href="<%=nav[i].Link%>"><%=nav[i].Text%></a></li>
                <%}%>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">

                        <h2>Información General</h2>
                        <br/>
                        <form action="/Admin/editinfo" method="post" class="form-horizontal" accept-charset="utf-8">
                        <input class="hidden" value="<%=config._id%>" name="configId" />
                            <div class="form-group ">
                                <label class="col-sm-2 col-lg-1 control-label ">Teléfono</label>
                                <div class="col-sm-8">
                                    <input id="phoneNumber" class="form-control" name="phoneNumber" placeholder="(0221) 15 123456" required type="text" required value="<%=config.phoneNumber%>" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group "> 
                                <label class="col-sm-2  col-lg-1 control-label">Dirección</label>

                                <div class="col-sm-8">
                                    <input id="address" class="form-control" name="address" placeholder="Ingrese dirección" type="text" required  value="<%=config.address%>" maxlength="80">
                                </div>
                            </div>
                            <div class="form-group "> 
                                <label class="col-sm-2  col-lg-1 control-label">Email</label>
                                 <div class="col-sm-8">
                                    <input id="email" class="form-control" name="email" placeholder="Ingrese email" type="email" required value="<%=config.email%>" maxlength="80">
                                </div>
                            </div>
                            <div class="form-group "> 
                                <label class="col-sm-2  col-lg-1 control-label">Facebook Link</label>
                                 <div class="col-sm-8">
                                    <input id="facebook" class="form-control" name="facebookLink" placeholder="Ingrese link del perfil de facebook" type="text"  value="<%=config.facebookLink%>" >
                                </div>
                            </div>
                             <div class="form-group "> 
                                <label class="col-sm-2  col-lg-1 control-label">Twiter Link</label>
                                 <div class="col-sm-8">
                                    <input id="twitter" class="form-control" name="twiterLink" placeholder="Ingrese link del perfil de twitter" type="text"  value="<%=config.twiterLink%>" >
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-1 col-sm-7">
                                    <button class="btn btn-default btn-success b10" type="submit" id="form-button-save"><i class="fa fa-check"></i> Guardar</button>
                                    <button class="btn btn-default cancel-button b10"  type="reset" id="cancel-button"><i class="fa fa-warning"></i>Limpiar </button>
                                </div>
                            </div>
                        </form>
                </div>
                <div class="row">
                	    <h2>Precios y Ofertas</h2>
                        <br/>
                        <form action="" method="post" class="form-horizontal" accept-charset="utf-8">
                        <input class="hidden" value="<%=config._id%>" name="configId" />
                        <div class="form-group ">
                            <label class="col-sm-2 col-lg-1 control-label pull-left">Precios</label>
                            <div class="col-sm-8 col-lg-8" >
                                <input id="preciosMessage" class="form-control" name="preciosMessage" placeholder="Este mensaje se visualizara debajo del tìtulo en los precios" required type="text" value="" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-2 col-lg-1 control-label pull-left">Ofertas</label>
                            <div class="col-sm-8 col-lg-8" >
                                <input id="ofertasMessage" class="form-control" name="ofertasMessage" placeholder="Este mensaje se visualizara debajo del tìtulo en las ofertas" required type="text" value="" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                                <div class="col-sm-offset-1 col-sm-7">
                                    <button class="btn btn-default btn-success b10" type="submit" id="form-button-save"><i class="fa fa-check"></i> Guardar</button>
                                    <button class="btn btn-default cancel-button b10"  type="reset" id="cancel-button"><i class="fa fa-warning"></i>Limpiar </button>
                                </div>
                            </div>
                        </form>
                </div>
                

        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Eliminar Producto</h4>
            </div>
            <div class="modal-body">
                <p id='modalText'>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a id="delete-link" href class="btn btn-danger">Eliminar</a>
            </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</body>
<script>

$('#myModal').on('show.bs.modal', function (event) {
    debugger;
    var button = $(event.relatedTarget);
    var id = button.data('id');
    var prodName = button.data('prodname');
    var deltext = 'Esta seguro q desea eliminar el producto: ' + prodName;
    $('#modalText').text(deltext);
    var elem = $('#delete-link');
    var url = 'product/delete/' + id
    elem.attr('href',url);
})
</script>

</html>
